.detail-container {
    background-color: var(--dbg);
    height: 95vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.detail-container .nft-preview-wrapper {
    border-radius: 4px;
    width: 300px;
    /* height: 620px; */
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border-radius: 4px;
    transition: 0.2s;
}

.detail-container .nft-preview-wrapper:hover img {
    transition: 0.2s;
}

.detail-container .nft-preview-wrapper img {
    height: auto;
    transition: 0.2s;
}

.detail {
    display: flex;
    justify-content: space-between;
}

.right-detail {
    background-color: var(--w);
    border-radius: 10px;
    padding: 16px;
    width: 60%;
    transition: 0.2s;
    position: relative;
}

.right-detail:hover {
    border-right: 10px solid var(--p);
    transition: 0.2s;
}

.right-detail .name {
    font-weight: 800;
    font-size: 2.4em;
}

.right-detail .d {
    font-size: 1.3em;
    margin: 15px 0;
}

.right-detail .available {
    transition: 0.2s;
    background-color: var(--p);
    color: var(--w);
    display: inline-block;
    padding: 4px 16px;
    margin-bottom: 15px;
    border-radius: 4px;
}

.right-detail .available:hover {
    transition: 0.2s;
    color: var(--p);
    background-color: var(--w);
    border: 2px solid var(--p);
}

.right-detail .owner {
    display: flex;
    align-items: center;
    gap: 10px;
}

.right-detail .owner img {
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.right-detail .price {
    position: absolute;
    bottom: 20px;
    right: 20px;
    font-weight: bold;
    font-size: 2em;
}

.history {
    background-color: var(--lg);
    padding: 40px;
    border-radius: 4px;
    margin: 20px 0;
}

.history p {
    font-weight: bold;
}

.history small {
    
}

.buy-btn {
    position: absolute;
    bottom: 20px;
    border: none;
    padding: 16px 32px;
    color: var(--w);
    background-color: var(--dbg);
    transition: 0.2s;
    border-radius: 4px;
}

.buy-btn:hover {
    transition: 0.2s;
    border-right: 10px solid var(--p);
    font-weight: bold;
    cursor: pointer;
}
