@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;400;500;600;700;800;900&display=swap');

:root {
    --dbg: #060606;
    --w: #ffffff;
    --lg: #dddddd;
    --medg: #c6c6c6;
    --medg2: #969595;
    --medg3: #696868;
    --p: #d81e61;
}

html, body, .App {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
    background-color: var(--brand-one);
    position: relative;
}

.App {
    position: relative;
}

h1, h2, h3, h4, h5, h6, p, li, ul {
    margin: 0;
    padding: 0;
}

input, button, textarea {
    font-family: 'Raleway', sans-serif;
}

.auto {
    width: 85%;
    margin: auto;
    /* margin-top: 20px; */
}

.gradient {
    /* for texts only */
    background-color: #d81e61;
    background-image: linear-gradient(45deg, #d81e61, #edb53a);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    font-family: 'Raleway', sans-serif;
}

.gimme-border {
    border-bottom: 3px solid var(--p);
}

.loading-container {
    position: absolute;
    background-color: rgba(6, 6, 6, 0.7);
    width: 100vw;
    height: 100vh;
    z-index: 999;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
}

.loading-container .loading {
    background-color: var(--p);
    width: 50px;
    height: 50px;
    border-radius: 4px;
    animation: spin 1s linear 1s infinite;
}

@keyframes spin {
    100% {
        transform:rotate(360deg);
    }
}

.ld {
    color: var(--w);
    font-weight: bold;
}

.logo:hover {
    font-weight: bold;
    cursor: pointer;
}
