.showcase-container {
    background-color: var(--dbg);
}

.showcase {
    display: flex;
    width: 85%;
    margin: 0 auto;
}

.showcase .left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 400px;
}

.showcase .left h1 {
    font-size: 3.2em;
    width: 55%;
    margin-bottom: 15px;
    color: var(--w);
}

.showcase .left p {
    width: 60%;
    color: var(--lg);
    line-height: 2em;
}

.showcase .right {
    position: relative;
    width: 40%;
}

.showcase video {
    opacity: 0.7;
    position: absolute;
    right: 0;
}

.search-by {
    margin: 45px 0;
}

.search-by h2 {
    font-weight: 900;
    margin-bottom: 40px;
}

.search-by .cats {
    display: flex;
    gap: 15px;
    margin-top: 20px;
    justify-content: center;
}

.cats .checkbox {
    border-radius: 4px;
    padding: 6px 20px;
    transition: 0.2s;
    border: 1px solid var(--dbg);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.cats .checkbox:hover {
    cursor: pointer;
    transition: 0.2s;
    transition: 0.2s;
    border-right: 10px solid var(--p);
    font-weight: bold;
    background-color: var(--dbg);
    color: var(--w);
}

.partners {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    margin: 20px 0;
}

.pics h2 {
    font-weight: 900;
}

.partners div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    position: relative;
    text-align: center;
}

.partners img {
    width: 100px;
    border-radius: 50%;
    transition: 0.2s;
    opacity: 1;
    transition: 0.2s;
}

.partners div:hover img {
    box-shadow: 0 0 20px var(--medg);
    border-radius: 30%;
    transition: 0.2s;
    cursor: pointer;
    opacity: 0.5;
    transition: 0.2s;
    width: 120px;
}

.partners div:hover {
    cursor: pointer;
}

.partners p {
    position: absolute;
    opacity: 0;
    top: 10px;
    transition: 0.2;
    color: var(--dbg);
    font-weight: 700;
    transition: 0.2s;
}

.partners div:hover p {
    opacity: 1;
    transition: 0.2;
    transition: 0.2s;
}

.marketplace {
    margin-bottom: 50px;
}

.marketplace h2 {
    text-align: left;
    font-weight: 900;
    margin-bottom: 45px;
}

.mp {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

/* THUMBNAIL CSS STARTS HERE */
.thumbnail {
    border-radius: 4px;
    border: 1px solid var(--medg);
    width: 300px;
    height: 720px;
    transition: 0.2s;
    position: relative;
}

.thumbnail:hover {
    cursor: pointer;
    border: 1px solid var(--w);
    box-shadow: 0 0 10px var(--medg);
    transition: 0.2s;
}

.thumbnail:hover .img-wrapper {
    height: 70%;
    transition: 0.2s;
}

.thumbnail .img-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border-radius: 4px;
    width: 100%;
    height: 80%;
    transition: 0.2s;
}

.thumbnail .img-wrapper img {
    height: auto;
}

.thumbnail .info {
    padding: 8px;
}

.thumbnail .name {
    font-weight: 700;
    font-size: 1.5em;
}

.thumbnail:hover .d {
    margin: 20px 0;
    transition: 0.2s;
}

.thumbnail .d {
    margin: 8px 0;
    color: var(--medg2);
    transition: 0.2s;
    /* font-weight: 200; */
}

.thumbnail footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.thumbnail footer .left {
    display: flex;
    align-items: center;
    gap: 10px;
}

.thumbnail footer .left img {
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.thumbnail footer .left p {
    font-weight: 600;
    /* color: var(--medg2); */
}

.thumbnail footer .right p {
    border: 1px solid var(--p);
    color: var(--p);
    font-weight: bold;
    border-radius: 4px;
    padding: 1px 6px;
    font-size: 0.8em;
    transition: 0.2s;
}

.thumbnail:hover footer .right p {
    transition: 0.2s;
    background-color: var(--p);
    color: var(--w);
}

.thumbnail .price {
    opacity: 0;
    transition: 0.2s;
    font-size: 1.4em;
    width: 100%;
    border-radius: 4px;
    position: absolute;
    left: 180px;
    /* bottom: 20px; */
    top: 680px;
}

.thumbnail:hover .price {
    opacity: 1;
    transition: 0.2s;
    right: 0;
    bottom: 0;
}
