.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    width: 85%;
    margin: auto;
}

.header .nav {
    display: flex;
    align-items: center;
    gap: 30px;
}

.header .nav a {
    color: var(--dbg);
    transition: 0.2s;
    text-decoration: none;
}

.header .nav a:hover {
    transition: 0.2s;
    font-weight: bold;
}

.header .special {
    color: var(--w) !important;
    background-color: var(--dbg) !important;
    border-radius: 4px;
    padding: 3px 20px;
    transition: 0.2s;
    font-weight: bold;
}

.header .special:hover {
    background-color: var(--w) !important;
    color: var(--dbg) !important;
    transition: 0.2s;
    box-shadow: 0 0 10px var(--lg);
}
